/******************************************
 * JQuery mobile override
 ******************************************/ 

ul.treeview { background-color: white; }

/******************************************
 * UCam stylesheets
 ******************************************/ 

/************ Sample Gallery Page ******************/

div#sampleGallery { margin: 0 auto; }
div.crop { width: 164px; height: 164px; overflow: hidden; float: left; }
div.crop img.lazy { width: 140px; height: 140px; border: 4px solid #ccc; display: none; }

/************ File Browser Page ******************/

div#browser { background-color: white; }
div#browser > div[data-role="content"] { padding: 0px; }

/************ Edit Page ******************/

div#editor > div[data-role="header"] > div.ui-select { position: absolute; top: 4px; right: 4px; margin: 0; padding: 0 }

div#editor > div#editorContent { position: relative; padding: 0px; overflow: hidden; width: 480px; height: 480px; }
div#editor .topLeft { position:absolute; top: 0px; left: 0px; }

/* Global tools button stylesheets */

div#editor > div[data-role="footer"] > div#tools {
	overflow:auto;
}

div#editor > div[data-role="footer"] > div#tools  > div {
	width: 1400px;
	height:100%;
	float:left;
	padding:0;
}

div#editor > div[data-role="footer"] > div#tools > div > a {
	display: inline-block;
	position: 				relative;
	color: white !important;
	
	text-decoration: 		none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-overflow: clip;
	
	background-size: 128px 128px;
	
	width: 40px;
	height: 40px;
	padding: 				.5em .6em .4em .6em;
	margin: 				.5em;
}

div#editor > div[data-role="footer"] > div#tools > div > a.ui-btn-active {
	background-image: none;
	background: none;
	border: none;
}

div#editor > div[data-role="footer"] > div#tools > div > a.button {
	border-top: 		2px solid rgba(255,255,255,0.8);
	border-left: 		2px solid rgba(255,255,255,0.8);
	
	border-bottom: 		2px solid rgba(0,0,0,0.1);
	border-right: 		2px solid rgba(0,0,0,0.1);
	
}

div#editor > div[data-role="footer"] > div#tools > div > a:active {
	border: 2px solid orange;
}

/* Effects tab */

a#effect_blur { background-image: url("../res/filters/blur.png") !important; }
a#effect_grayscale { background-image: url("../res/filters/grayscale.png") !important; }
a#effect_sharpen { background-image: url("../res/filters/sharpen.png") !important; }
a#effect_sobel { background-image: url("../res/filters/sobel.png") !important; }
a#effect_threshold { background-image: url("../res/filters/threshold.png") !important; }

/* Graffiti tab */

div#graffiti > a#black { background-color: black !important; }
div#graffiti > a#white { background-color: white !important; }
div#graffiti > a#red { background-color: red !important; }
div#graffiti > a#yellow { background-color: yellow !important; }
div#graffiti > a#blue { background-color: blue !important; }
div#graffiti > a#green { background-color: green !important; }

/* Decorations tab */
div#tools > div#decors .ui-btn-inner { padding-top: 4px; }

div.decoration { position: absolute !important; top: 20px; left: 20px; z-index: 100; }
div.decoration > a.decorControl { position: relative; }

div.decoration > a.rotateBtn { background-image: url('./images/rotate_64.png'); background-size: 24px; }

/* Border related elements */
img.corner { z-index: 300; }
img.border { z-index: 200; }

img#corner1 { position: absolute; top: 0px; left: 0px; }
img#corner2 { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); position: absolute; top: 0px; right: 0px;}
img#corner3 { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); position: absolute; bottom: 0px; right: 0px; }
img#corner4 { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); position: absolute; bottom: 0px; left: 0px; }
img#border1 { position: absolute; top: 0px; left: 0px; height: 100px; }
img#border2 { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg) translate(0px, -50px); position: absolute; top: 0px;  height: 100px; }
img#border3 { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); position: absolute; bottom: 0px; left: 0px; height: 100px; }
img#border4 { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg) translate(0px, -50px); position: absolute; top: 0px; height: 100px; }

div#tools > div#borders .ui-btn-inner { padding-top: 4px; }

/************ About Page ******************/

div#about > div[data-role="content"] > * { margin: 5px auto; }
